.container {
  float: left;
  margin: 20px;
}

.active {
  background-color: #F00;
}

.inactive {
  background-color: #CCC;
}

td {
  width: 3px;
  height: 3px;
}

table {
  border-collapse: collapse
}
